@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-variable.ttf') format('truetype-variations');
  font-weight: 1 999;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', 'Times New Roman';
  background-color: #eceff1;
  color: black;
}
